@font-face {
    font-family: RobotoMedium;
    src: url('../../assets/fonts/Roboto-Medium.ttf');
  }
@font-face {
    font-family: RobotoRegular;
    src: url('../../assets/fonts/Roboto-Regular.ttf');
  }
@font-face {
    font-family: GiveYouGlory;
    src: url('../../assets/fonts/GiveYouGlory-Regular.ttf');
  }

h1{
    font-family: GiveYouGlory;
    font-size: 6em;
    text-transform: lowercase;
}
h1.smaller{
    font-size: 4em;
    text-transform: lowercase;
}
h1.smallest{
    font-size: 2em;
    text-transform: lowercase;;
}
h2{
    color: $dark-grey;
    font-size: 2.5em;
}
p{
    color: $dark-grey;
    font-size: 1.5em;
}
p.smaller{
    font-size: 1em;
}
p.bigger{
    font-size: 3em;
}