.image-holder{
    height: 220px;
    width: 100%;
    overflow: hidden;
    background: rgba(white, 0.5);
    border: solid 5px lighten($light-grey, 10);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    transition: all 0.3s;
    img{
        pointer-events: none;
        height: 85%;
        width: auto;
    }
    p{
        pointer-events: none;
        transform: translateY(15px);
    }
}
.image-holder.smaller-height{
    height: 200px;
}

.image-selected{
    border: solid 8px $goethe-green;
    .btn-confirm{
        position: absolute;
        bottom: 10px;
    }
}

#round-count, #timer{
    background: lighten($light-grey, 10);
    p{
        color: white;
    }
}
#round-count{
    position: absolute;
    top: 0;
    left: 0;
}
#timer{
    position: absolute;
    top: 0;
    right: 0;
}