#container-00{
    background-color: $goethe-green;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: end;
    #loaded-value{
        align-self: end;
    }
    p{
        color: white;
    }
}
