.loader {
    padding: 40px;
    width: calc(15 * 15px + 40px);
    height: calc(60px + 40px);
    position: relative;

  }
  
  .loader span {
    display: block;
    bottom: 50%;
    width: 9px;
    height: 5px;
    background: $light-grey;
    position: absolute;
  }
  .playing{
    animation: soundBar 1s infinite ease-in-out;
  }
  
  $elements: 15;
  @for $i from 0 to $elements{
      span:nth-child(#{$i + 1}){
          left: ( 20px + 10px * $i);
          animation-delay: (0.1s * $i);
      }
  }
  
  
  @keyframes soundBar {
      0% {height: 5px; background:$light-grey; transform: translateY(0)}
      20% {height: 60px; background:$goethe-green; transform: translateY(27.5px)}
      100% {height: 5px; background: $light-grey; transform: translateY(0)}
  }

 
