$light-grey: #A7A7A7;
$dark-grey: #797979;
$goethe-green: #A0C814;
$medium: #F4AA45;
$hard: #F18E87;

@import "fonts", "elements", "loading", "welcome", "rules", "soundbar", "game-elements", "difficulty-elements";

html, body{
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

body{
    font-family: RobotoRegular;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    background: url('../../assets/images/general/paper.jpg') repeat;
    padding-top: 10vh;
    touch-action: manipulation;
}

#logo{
    position: fixed;
    top: 2vh;
    left: 0;
    height: 15vh;
    z-index: 1000;
    text-align: center;
    img{
        height: 10vh;
    }
}

.rotate-container{
    display: none;
    padding: 50px;
    h1{
        font-size: 3em;
    }
}
@media screen and (orientation: landscape) {
    .container{
        display: none;
    }
    .rotate-container{
        display: block;
    }
    }