#underscore{
    width: 80%;
    transform: translateY(-2em);
}
#fun-span{
    font-family: GiveYouGlory;
    font-size: 4em;
    font-weight: bolder;
    color: $goethe-green;
    transform: rotate(-25deg) translate(110px, -1px);
}